@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>Aluno @ViewData["Aluno"]</p>

<anddress>
    <strong>More information: </strong> <a href="https://docs.microsoft.com/aspnet/core">Education</a>
</anddress>